<ul>
<li><a href="/movies"> Movies </a></li>
<li><a href="/persons"> People </a></li>
<li><a href="/relationships"> Relationships </a></li>
<ul>



<h3>Add Actor to Movie</h3>
<form method="post" action="/movie/actor/add">
  <label>Movie Title</label><br>
  <input type="text" name="title">
  <br>
  <label>Actor Name</label><br>
  <input type="text" name="name">
  <br><br>
  <input type="submit" value="submit">
</form>
