<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<ul class="nav navbar-nav">
				<li><a href="/"> Relationships </a></li>
				<li><a href="/movies"> Movies </a></li>
				<li><a href="/persons"> People </a></li>
			</ul>
		</div>
	</div>
</nav>